.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px rgba(0, 0, 0, 0.2) solid;
  max-width: 800px;
  min-height: 400px;
  margin: 100px auto;
  text-align: center;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.4);
}
.row-card {
  display: flex;
  margin: 100px auto;
}
.column-1-card {
  float: left;
  width: 50%;
  margin-left: 30px;
  border-right: 1px rgba(0, 0, 0, 0.2) solid;
}
.column-2-card {
  float: left;
  width: 50%;
  margin: 20px;
  padding: 10px;
}